*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

nav {
    color: white;
    min-height: 35px;
    font-size: 20px;
    background-color: #4281A4;
}

nav > ul > li {
    list-style-type: none;
}

@media (min-width: 1000px){
    nav > #burger-container {
        display: none;
    }

    nav > ul > li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    nav > ul {
        position: relative;
    }
    nav > ul > li {
        margin-right: 10px;
    }
    nav > .logo {
        float: left;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: 10px;
        margin-left: 5%;
    }

    /**** Logo left and all items, logout right****/
    nav.nav-style-1 > ul > li:first-of-type {
        float: left;
    }
    nav.nav-style-1 > ul > li:last-of-type {
        position: absolute;
        top: 0px;
        right: 5%;
    }


    /**** Logo left, all items middle, logout right****/
    nav.nav-style-2 > .logo {
        min-width: 35%;
    }
    nav.nav-style-2 > ul > li:first-of-type{
        float:left;
        margin-right: 2%;
    }
    nav.nav-style-2 > ul > li:nth-of-type(2){
        float: left;
    }
    nav.nav-style-2 > ul > li:last-of-type{
        float:right;
    }

    /**** Logo left, all items and logout right****/
    nav.nav-style-3 > ul > li {
        float: right;
        position: relative;
    }
    nav.nav-style-3 > ul > li:first-of-type{
        right: 22%; 
    }
    nav.nav-style-3 > ul > li:nth-of-type(2){
        right: 8%;
    }
    nav.nav-style-3 > ul > li:last-of-type{
        right: -5%;
    }

}

@media (max-width: 999px){
    nav > #burger-container {
        display: block;
    }

    nav > .logo {
        float: left;
        padding-top: 5px;
        padding-left: 20px;
    }

    nav > #burger-container {
        float: right;
    }

    nav > ul {
        clear: both;
        padding: 5px 20px;
    }

    .nav-list-opened {
        animation: nav-list-opened 0.25s forwards;
    }
    .nav-list-closed {
        animation: nav-list-closed 0.25s forwards;
    }

    @keyframes nav-list-opened {
        0%{
            visibility: hidden;
            height: 0px;
        }
        100%{
            display: visible;
            height: 100px;
        }
    }
    @keyframes nav-list-closed {
        0%{
            visibility: visible;
            height: 100px;
        }
        100%{
            visibility: hidden;
            height: 0px;
        }
    }
}